<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedystar.generator.dao.GiftGoodsDao">

    <resultMap id="giftGoodsResultMap" type="com.greedystar.generator.entity.GiftGoods">
        <id column="id" property="id"/> 
        <result column="gid" property="gid"/> 
        <result column="defaultPid" property="defaultPid"/> 
        <result column="price" property="price"/> 
        <result column="title" property="title"/> 
        <result column="summary" property="summary"/> 
        <result column="coverPicture" property="coverPicture"/> 
        <result column="squarePicture" property="squarePicture"/> 
        <result column="posterPicture" property="posterPicture"/> 
        <result column="sellerCost" property="sellerCost"/> 
        <result column="platformCost" property="platformCost"/> 
        <result column="fixedCost" property="fixedCost"/> 
        <result column="firstLevel" property="firstLevel"/> 
        <result column="secondLevel" property="secondLevel"/> 
        <result column="thirdLevel" property="thirdLevel"/> 
        <result column="channel" property="channel"/> 
        <result column="type" property="type"/> 
        <result column="seq" property="seq"/> 
        <result column="status" property="status"/> 

        
        
    </resultMap>

    <sql id="giftGoodsColumns">
        t_gift_goods.id AS "id",
        t_gift_goods.gid AS "gid",
        t_gift_goods.default_pid AS "defaultPid",
        t_gift_goods.price AS "price",
        t_gift_goods.title AS "title",
        t_gift_goods.summary AS "summary",
        t_gift_goods.cover_picture AS "coverPicture",
        t_gift_goods.square_picture AS "squarePicture",
        t_gift_goods.poster_picture AS "posterPicture",
        t_gift_goods.seller_cost AS "sellerCost",
        t_gift_goods.platform_cost AS "platformCost",
        t_gift_goods.fixed_cost AS "fixedCost",
        t_gift_goods.first_level AS "firstLevel",
        t_gift_goods.second_level AS "secondLevel",
        t_gift_goods.third_level AS "thirdLevel",
        t_gift_goods.channel AS "channel",
        t_gift_goods.type AS "type",
        t_gift_goods.seq AS "seq",
        t_gift_goods.status AS "status"
    </sql>

    <sql id="giftGoodsJoins">
        
    </sql>

    <select id="selectByCondition" resultMap="giftGoodsResultMap">
        SELECT
        <include refid="giftGoodsColumns" />
        FROM t_gift_goods <include refid="giftGoodsJoins" />
        <where>
                <if test="id!= null" >
        AND  id=#{id}
        </if>
        <if test="gid!= null" >
        AND  gid=#{gid}
        </if>
        <if test="defaultPid!= null" >
        AND  default_pid=#{defaultPid}
        </if>
        <if test="price!= null" >
        AND  price=#{price}
        </if>
        <if test="title!= null" >
        AND  title=#{title}
        </if>
        <if test="summary!= null" >
        AND  summary=#{summary}
        </if>
        <if test="coverPicture!= null" >
        AND  cover_picture=#{coverPicture}
        </if>
        <if test="squarePicture!= null" >
        AND  square_picture=#{squarePicture}
        </if>
        <if test="posterPicture!= null" >
        AND  poster_picture=#{posterPicture}
        </if>
        <if test="sellerCost!= null" >
        AND  seller_cost=#{sellerCost}
        </if>
        <if test="platformCost!= null" >
        AND  platform_cost=#{platformCost}
        </if>
        <if test="fixedCost!= null" >
        AND  fixed_cost=#{fixedCost}
        </if>
        <if test="firstLevel!= null" >
        AND  first_level=#{firstLevel}
        </if>
        <if test="secondLevel!= null" >
        AND  second_level=#{secondLevel}
        </if>
        <if test="thirdLevel!= null" >
        AND  third_level=#{thirdLevel}
        </if>
        <if test="channel!= null" >
        AND  channel=#{channel}
        </if>
        <if test="type!= null" >
        AND  type=#{type}
        </if>
        <if test="seq!= null" >
        AND  seq=#{seq}
        </if>
        <if test="status!= null" >
        AND  status=#{status}
        </if>

        </where>
    </select>

    <insert id="insert">
        INSERT INTO t_gift_goods
             <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="giftGoods.id!= null" >
        id,
        </if>
        <if test="giftGoods.gid!= null" >
        gid,
        </if>
        <if test="giftGoods.defaultPid!= null" >
        default_pid,
        </if>
        <if test="giftGoods.price!= null" >
        price,
        </if>
        <if test="giftGoods.title!= null" >
        title,
        </if>
        <if test="giftGoods.summary!= null" >
        summary,
        </if>
        <if test="giftGoods.coverPicture!= null" >
        cover_picture,
        </if>
        <if test="giftGoods.squarePicture!= null" >
        square_picture,
        </if>
        <if test="giftGoods.posterPicture!= null" >
        poster_picture,
        </if>
        <if test="giftGoods.sellerCost!= null" >
        seller_cost,
        </if>
        <if test="giftGoods.platformCost!= null" >
        platform_cost,
        </if>
        <if test="giftGoods.fixedCost!= null" >
        fixed_cost,
        </if>
        <if test="giftGoods.firstLevel!= null" >
        first_level,
        </if>
        <if test="giftGoods.secondLevel!= null" >
        second_level,
        </if>
        <if test="giftGoods.thirdLevel!= null" >
        third_level,
        </if>
        <if test="giftGoods.channel!= null" >
        channel,
        </if>
        <if test="giftGoods.type!= null" >
        type,
        </if>
        <if test="giftGoods.seq!= null" >
        seq,
        </if>
        <if test="giftGoods.status!= null" >
        status,
        </if>
        </trim>

             <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="giftGoods.id!= null" >
#{giftGoods.id},
        </if>
        <if test="giftGoods.gid!= null" >
#{giftGoods.gid},
        </if>
        <if test="giftGoods.defaultPid!= null" >
#{giftGoods.defaultPid},
        </if>
        <if test="giftGoods.price!= null" >
#{giftGoods.price},
        </if>
        <if test="giftGoods.title!= null" >
#{giftGoods.title},
        </if>
        <if test="giftGoods.summary!= null" >
#{giftGoods.summary},
        </if>
        <if test="giftGoods.coverPicture!= null" >
#{giftGoods.coverPicture},
        </if>
        <if test="giftGoods.squarePicture!= null" >
#{giftGoods.squarePicture},
        </if>
        <if test="giftGoods.posterPicture!= null" >
#{giftGoods.posterPicture},
        </if>
        <if test="giftGoods.sellerCost!= null" >
#{giftGoods.sellerCost},
        </if>
        <if test="giftGoods.platformCost!= null" >
#{giftGoods.platformCost},
        </if>
        <if test="giftGoods.fixedCost!= null" >
#{giftGoods.fixedCost},
        </if>
        <if test="giftGoods.firstLevel!= null" >
#{giftGoods.firstLevel},
        </if>
        <if test="giftGoods.secondLevel!= null" >
#{giftGoods.secondLevel},
        </if>
        <if test="giftGoods.thirdLevel!= null" >
#{giftGoods.thirdLevel},
        </if>
        <if test="giftGoods.channel!= null" >
#{giftGoods.channel},
        </if>
        <if test="giftGoods.type!= null" >
#{giftGoods.type},
        </if>
        <if test="giftGoods.seq!= null" >
#{giftGoods.seq},
        </if>
        <if test="giftGoods.status!= null" >
#{giftGoods.status},
        </if>
        </trim>

    </insert>

    <insert id="insertBatch">
        INSERT INTO t_gift_goods(
             <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="giftGoods.id!= null" >
        id,
        </if>
        <if test="giftGoods.gid!= null" >
        gid,
        </if>
        <if test="giftGoods.defaultPid!= null" >
        default_pid,
        </if>
        <if test="giftGoods.price!= null" >
        price,
        </if>
        <if test="giftGoods.title!= null" >
        title,
        </if>
        <if test="giftGoods.summary!= null" >
        summary,
        </if>
        <if test="giftGoods.coverPicture!= null" >
        cover_picture,
        </if>
        <if test="giftGoods.squarePicture!= null" >
        square_picture,
        </if>
        <if test="giftGoods.posterPicture!= null" >
        poster_picture,
        </if>
        <if test="giftGoods.sellerCost!= null" >
        seller_cost,
        </if>
        <if test="giftGoods.platformCost!= null" >
        platform_cost,
        </if>
        <if test="giftGoods.fixedCost!= null" >
        fixed_cost,
        </if>
        <if test="giftGoods.firstLevel!= null" >
        first_level,
        </if>
        <if test="giftGoods.secondLevel!= null" >
        second_level,
        </if>
        <if test="giftGoods.thirdLevel!= null" >
        third_level,
        </if>
        <if test="giftGoods.channel!= null" >
        channel,
        </if>
        <if test="giftGoods.type!= null" >
        type,
        </if>
        <if test="giftGoods.seq!= null" >
        seq,
        </if>
        <if test="giftGoods.status!= null" >
        status,
        </if>
        </trim>

        )
        VALUES
        <foreach collection ="list" item="giftGoods" separator =",">
        (
            #{item.id},
            #{item.gid},
            #{item.defaultPid},
            #{item.price},
            #{item.title},
            #{item.summary},
            #{item.coverPicture},
            #{item.squarePicture},
            #{item.posterPicture},
            #{item.sellerCost},
            #{item.platformCost},
            #{item.fixedCost},
            #{item.firstLevel},
            #{item.secondLevel},
            #{item.thirdLevel},
            #{item.channel},
            #{item.type},
            #{item.seq},
            #{item.status}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE t_gift_goods
        <set>
                <if test="id!= null" >
        id=#{id},
        </if>
        <if test="gid!= null" >
        gid=#{gid},
        </if>
        <if test="defaultPid!= null" >
        default_pid=#{defaultPid},
        </if>
        <if test="price!= null" >
        price=#{price},
        </if>
        <if test="title!= null" >
        title=#{title},
        </if>
        <if test="summary!= null" >
        summary=#{summary},
        </if>
        <if test="coverPicture!= null" >
        cover_picture=#{coverPicture},
        </if>
        <if test="squarePicture!= null" >
        square_picture=#{squarePicture},
        </if>
        <if test="posterPicture!= null" >
        poster_picture=#{posterPicture},
        </if>
        <if test="sellerCost!= null" >
        seller_cost=#{sellerCost},
        </if>
        <if test="platformCost!= null" >
        platform_cost=#{platformCost},
        </if>
        <if test="fixedCost!= null" >
        fixed_cost=#{fixedCost},
        </if>
        <if test="firstLevel!= null" >
        first_level=#{firstLevel},
        </if>
        <if test="secondLevel!= null" >
        second_level=#{secondLevel},
        </if>
        <if test="thirdLevel!= null" >
        third_level=#{thirdLevel},
        </if>
        <if test="channel!= null" >
        channel=#{channel},
        </if>
        <if test="type!= null" >
        type=#{type},
        </if>
        <if test="seq!= null" >
        seq=#{seq},
        </if>
        <if test="status!= null" >
        status=#{status},
        </if>

        </set>
        WHERE id = #{id}
    </update>

    <update id="delete">
        DELETE FROM t_gift_goods
        WHERE id = #{id}
    </update>

</mapper>
